// 文本输入框占位符
@mixin placeHolder {
  display: block;
  font-size: 20px;
  padding: 5px;
  border-radius: 7px;
  color: #008c8c;

  &::placeholder {
    color: gray;
    font-style: italic;
    opacity: 0.5;
  }
}

// 文本文字
@mixin myFontFamily {
  font-family: -apple-system, SF UI Text, Arial, PingFang SC, Hiragino Sans GB, Microsoft YaHei, WenQuanYi Micro Hei, sans-serif;
}

// vw单位的转换（以iPhone7为例）
@function vw($px) {
  @return ($px / 750) * 100vw;
}

// 单行文本溢出隐藏
@mixin singleOverHidden {
  white-space: nowrap; //空白处理，让他不换行
  overflow: hidden; //溢出隐藏
  text-overflow: ellipsis; //溢出部分圆角代替
}

// 多行文本溢出隐藏
@mixin mulOverHidden($line:3, $width:100%) {
  width: $width;
  overflow: hidden;
  text-overflow: ellipsis;
  display: -webkit-box;
  -webkit-line-clamp: $line; //行数
  -webkit-box-orient: vertical;
}

/**
 * 文本颜色渐变
 * @param {String} $txt 文本内容
 * @param {*} $color1 颜色1
 * @param {*} $color2 颜色2
 * @param {*} $color3 颜色3
 */
@mixin txtGradient($txt, $color1, $color2, $color3) {
  content: $txt;
  display: block;
  position: absolute;
  background-image: linear-gradient(to right,
      $color1,
      $color2,
      $color1);
  // background-clip: text;
  // color: transparent;
  background-clip: text;
  color: transparent;
  // top: 0;
}

.enter_main {
  // color: $my_blue;
  cursor: pointer;
  @include txtGradient("", $my_blue, $my_pink, plum);
  font-size: 30px;
}

.iconfont {
  &::before {
    margin: 0 3px;
  }
}
