// 左右抖动效果
@keyframes shake {
  0% {
    transform: rotate(20deg);
  }

  20% {
    transform: rotate(-20deg);
  }

  40% {
    transform: rotate(20deg);
  }

  60% {
    transform: rotate(-20deg);
  }

  80% {
    transform: rotate(20deg);
  }

  100% {
    transform: rotate(-20deg);
  }
}

// 彩虹
@mixin ranbow {
  background-image: radial-gradient(70% 100% at bottom center,
      skyblue 5%,
      #73C9E5 10%,
      #fa7a7a 25%,
      #008c8c 38%,
      plum 49%,
      #f7f7b6 61%,
      #fb7299 72%,
      skyblue 90%);

  @media screen and (max-width:$phone_computer) {
    & {
      background-image: radial-gradient(100% 80% at bottom center,
          skyblue 5%,
          #73C9E5 10%,
          #fa7a7a 25%,
          #008c8c 38%,
          plum 49%,
          #f7f7b6 61%,
          #fb7299 72%,
          skyblue 90%);
    }
  }
}
