// 页面的头部
.welcome_head {
  width: 100vw;
  height: 100vh;
  position: relative;
  @include ranbow; // 彩虹预加载
  background-image: url(https://api.vvhan.com/api/view);
  background-size: cover;
  background-attachment: fixed;
}

/**
 * chunk阴影边框
 * @param {*} $color 常态颜色
 * @param {*} $hoverColor 鼠标移入颜色
 */
@mixin borderShadow($color:gray, $hoverColor:gray) {
  box-shadow: 0 0 10px $color;
  border-radius: 10px;
  transition: all 0.8s;

  &:hover {
    box-shadow: 0 0 40px $hoverColor;
  }
}


// 进度条
#nprogress {
  z-index: 999999 !important;
  position: fixed;
  top: 0;
  
  .bar {
    height: 5px !important;
    background-image: linear-gradient(to right, $my_blue, $my_pink, plum, lightyellow, skyblue, hotpink) !important;
    border-radius: 20px !important;
  }
}
